.home{
    padding-top: 4rem;
    min-height: 100vh;
    max-width: 100vw;
    background-color: #e0f6f7;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    #task{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column; 
        margin: 0 1rem;
        margin-top: 1rem;
        font-size: 1.4rem;
        >div{
            width: 100%;
        }
        #heading{
            display: flex;
            justify-content: space-between;
            align-items: center;
            border: 2px solid black;
            background-color: #04047d;
            color: white;            
            padding: 0.2rem 0;
            border-radius: 0.4rem 0.4rem 0 0;
            .left{
                width: 70%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .right{
                padding: 0 0.3rem;
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 15rem;
                cursor: pointer;
                div{

                    &:hover{
                        color: rgb(71, 168, 172);
                    }
                }
            }            
        }
        #task-container{
            width: 100%;
        }
    }
}
@media screen and (max-width: 450px){
    .home{
        #task{
            margin: 0 0.1rem ;
            margin-top: 1rem;
            #heading{
                .left,.right{
                    font-size: 1.3rem;
                }
                .right{
                    width: 16rem;                    
                }
            }
        }
    }
}