$color1: white;
$color2: rgb(110, 109, 109);
$color3: rgb(126, 255, 225);
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.2rem 1rem ;        
    background-color: rgb(4, 4, 125);
    font-size: 1.4rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: $color1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    box-shadow: 0 0 1rem rgba(163, 163, 163, 0.774);
    .left{
        span{
            font-size: 2rem;
            &:nth-child(1){
                color: $color3;
            }
        }
    }
    .right{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        a,button{
            color: $color1;            
            margin-right: 1.5rem;
            display: flex;
            background-color: transparent;
            font-size: 1.4rem;
            border: none;
            cursor: pointer;
            svg{
                border: 2px solid $color1;
                border-radius: 50%;
                font-size: 2.5rem;
                &:hover{                    
                    border: 2px solid $color2;
                }
            }
            &:hover{
                color: $color2;
            }
        }        
    }
}

@media screen and (max-width: 400px) and (min-width:355px){
    .header{
        padding: 0.6rem 0.5rem;
        .right{
            a{
                font-size: 1.5rem;
                margin-right: 1rem;
            }
        }
    }
}

@media screen and (max-width:355px) {
    .header{
        padding: 0.2rem 0.4rem;
        .left{
            font-size: 1.8rem;
        }
        .right{
            a{
                font-size: 1.2rem;
                margin-right: 0.7rem;
            }
        }
    }
}