*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;    
}

.error{
    color: rgb(172, 11, 11);
    font-size: 1.3rem;
}
.button{
    padding: 0.2rem;
    font-size: 1.3rem;
    border: none;
    border-radius: 0.4rem;
    min-width: 7rem;
    cursor: pointer;
    &:active{
        transform: scale(0.9);
    }
    &:hover{
        background-color: rgb(161, 161, 161);
    }
}

@media screen and (max-width:980px) {
    html{
        font-size: 80%;
    }
}
@media screen and (max-width:769px) {
    html{
        font-size: 73%;
    }
}

// <input
//         type="text"
//         placeholder={"enter name ..."}
//         onChange={(e) => setName(e.target.value)}
//       />
//       <input
//         type="number"
//         placeholder={"enter age ..."}
//         onChange={(e) => setAge(e.target.value)}
//       />
//       <button onClick={createUser}>create user</button>
//       {users?.map((item, i) => {
//         return (
//           <h1 key={i}>
//             {item.name} and {item.age}
//             <button onClick={() => updateUser(item.id,item.age)}>
//               increase age by 2 years
//             </button>
//             <button onClick={()=>deleteUser(item.id)}>Delete</button>
//           </h1>
//         );
//       })}